.text1 {
	color: white;
	background-color: green;
	font-family: Verdana;
    padding: 0px 2px;
}
.space1 {
	margin-top: 15px;
}
.space2 {
	margin-bottom: 5px;
}
#printStar {
	white-space: pre;
	margin-top: 20px;
	color: #ff0066;
	font-family: Verdana
}
#printMountainStar {
	white-space: pre;
	margin-top: 20px;
	color: #ff0066;
	font-family: Verdana
}
